---
layout: 2013-page
title: Página Principal
---

<div id="home">
	<h1>Blog Posts</h1>
	<ul class="posts">
{% for post in site.posts %}
		<li><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
	</ul>

	<h1>Páginas</h1>
	<ul class="pages">
{% assign hidden_urls = "/artigos/index.html|foobar" | split: "|" %}
{% for page in site.pages %}
			<li><a href="{{ page.url }}">{{ page.url }}</a></li>
{% unless hidden_urls contains page.url %}
{% if page.date and page.url %}
		<!-- <li><span>{{ page.date | date_to_string }}</span> &raquo; <a href="{{ page.url  | remove: 'index.html' }}">{{ page.title }}</a></li> -->
{% else %}
		<!-- <li><span>No date</span> &raquo; <a href="{{ page.url }}">{{ page.title }}</a></li> -->
{% endif %}
{% endunless %}
{% endfor %}
  </ul>
</div>
