---
layout: twentyten-child
title: Tags
hide_ads: true
hide_byline: true
hide_tags: true
hide_read_more: true
hide_share: true
hide_comments: true
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

  <ul class="tags">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <li><a href="#{{ this_word | cgi_escape }}">{{ this_word }}</a> <span class="count">({{ site.tags[this_word].size }})</span></li>{% endunless %}{% endfor %}
  </ul>

  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
  <h2 id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
  <ul class="posts no-bullet">
    {% for post in site.tags[this_word] reversed %}
    <li><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> <a href="{{ post.url }}">{{ post.title | escape }}</a></li>{% endfor %}
  </ul>
  {% endunless %}{% endfor %}
