/*
AURELIO.NET articles.css - 2012, Public domain

Text colors:
	black: normal
	#888: light (user must read)
	#ddd: light (user may read or not, decoration)
	links: browser default (unspecified)
Text sizes:
	browser default (unspecified)
*/

body {
	font-family: sans-serif;
	padding: 10px;  /* iphone and resizing */
	max-width: 40em;
	margin:	1em auto 3em auto; /* eof-list */
}
p, ul, ol, dl, blockquote, pre {
	line-height: 1.4em;
}
td, th {
	line-height: 1.2em;
}
code, pre {
	background-color: #eee;
	font-size: 100%;
}
blockquote {
	font-style: italic;
}
h1 {
	text-align: center;
	font-weight: normal;
	font-size: 2em;
}
h1 a {
	color: inherit;
	text-decoration: none;
}
h1 a:hover {
	text-decoration: underline;
}
hgroup h2 {
	text-align: center;
	font-weight: normal;
	margin-bottom: 2em;
}
h2 a,
h3 a { /* # marker */
	display: none;
	color: #ddd;
	text-decoration: none;
	font-weight: normal;
	font-size: 75%;
}
h2:hover a,
h3:hover a {
	display: inline;
	color: blue;
	text-decoration: underline;
}
table, tr, td, th {
	border: 0 solid #ccc;
}
table {
	border-collapse: collapse;
	font-size: 85%;
	margin: 2em auto;
}
th {
	padding: 0.7em 5px;
	background-color: #eee;
	font-weight: bold;
}
td {
	padding: 4px 5px;
}
td.center { text-align: center; }
td.right { text-align: right; }

table.tableborder td,
table.tableborder th {
	border-width: 1px;
}
img.center {
	clear: both;
	display: block;
	margin: 0 auto;
}
img.right {
	float: right;
	margin-left: 1em;
}
#author {
	text-align: center;
}
#metadata a.permalink {
	color: blue;
	text-decoration: none;
}
#author a.name {
	font-size: 125%;
}
#avatar {
	text-align: center;
	margin: 10px 0 0 0;
}
#avatar img {
	height: 64px;
}
#metadata {
	text-align: right;
	margin: 1em 0;
	font-size: 85%;
	font-style: italic;
}
#author, #metadata {
	color: #888;
}
#eof {
	text-align: center;
	color: #ddd;
	margin: 2em 0 3em 0;
}
hr {
	border: 1px solid #ddd;
	margin: 1em 0;

	border: 1px solid black;
	border-width: 1px 0 0 0;
}
ul.nav,
ul.nav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* ---------- Special */

pre {
	overflow: auto;
}
tr:hover td {
	background: #eee;
}
img {
	max-width: 100%;
}

/* ---------- Custom */
#about img { max-width: 50%; }
#about em { font-style: normal; color: #888; }
#about hr { margin: 3em 0; }
#applescript-install h2 { font-weight: normal; }
#applescript-vs-python table i { color: #aaa; }
#iphoto-symlinks table { border-width: 1px; }
#iphoto-symlinks th { text-align: left; }
#sed-abc .patt { color: green; }
#sed-abc .hold { color: red; }
#shell-reference table { width:100%; }
#shell-reference article nav { margin-bottom: 3em; }
#shell-reference code, #shell-reference pre { background: transparent; }
#shell-reference td code { font-size: 125% !important; }

/* ---------- Small screens */
@media screen and (max-width: 700px) {
	body {
		margin: 0;
		padding: 10px;
		max-width: 100%;
	}
	h1 { font-size: 1.5em; }
	ul { padding-left: 1em; }
	ol { padding-left: 2em; }
	blockquote { margin: 1em 1.5em; }
}
