{% unless page.hide_ads %}
	<div class="ad-blog-box-bottom"{% unless site.production %} style="background-color:yellow"{% endunless%}>
{% if site.production %}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Blog 336x280 Image -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:336px;height:280px"
		     data-ad-client="ca-pub-0009608813278754"
		     data-ad-slot="1899275611"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
{% else %}
	DEV MODE: AdSense disabled
{% endif %}
	</div>
{% endunless %}