{% if site.production and page.hide_ads != true %}
<div class="ad-in-article">
	<!-- AdSense In-article ads -->
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<ins class="adsbygoogle"
	     style="display:block; text-align:center;"
	     data-ad-layout="in-article"
	     data-ad-format="fluid"
	     data-ad-client="ca-pub-0009608813278754"
	     data-ad-slot="2064509534"></ins>
	<script>
	     (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
{% endif %}
