<div id="nav">
	<ul>
	<li>
		Dropbox
		<ul>
		<li><a href="/articles/dropbox-iphoto-import.html" >Dropbox iPhoto Import – The Missing FAQ</a></li>
		<li><a href="/articles/dropbox-selective-sync.html">Dropbox: Selective Sync Pitfalls</a></li>
		<li><a href="/articles/dropbox-symlinks.html"      >Dropbox and symlinks</a></li>
		<li><a href="/articles/dropbox-ignore-folder.html" >Ignore a local folder inside Dropbox</a></li>
		</ul>
	</li>
	<li>
		iPhoto
		<ul>
		<li><a href="/articles/dropbox-iphoto-11.html">Fix: iPhoto '11 library doubled size in Dropbox</a></li>
		<li><a href="/articles/iphoto-symlinks.html"  >Symlinks inside the iPhoto library</a></li>
		</ul>
	</li>
	<li>
		Reference
		<ul>
		<li><a href="/articles/sed-abc.html"              >The sed alphabet</a></li>
		<li><a href="/articles/applescript-vs-python.html">AppleScript for Python Programmers (Comparison Chart)</a></li>
		<li><a href="/articles/shell-reference.html"      >Bash Shell Quick Reference</a></li>
		</ul>
	</li>
	<li>
		Other
		<ul>
		<li><a href="/articles/nexus-5x-bootloop-fix.html">Nexus 5X bootloop fix - Install Android monthly security updates</a></li>
		<li><a href="/articles/hungry-sumo-high-scores.html">Tips for high scores in Hungry Sumo for iOS (iPhone, iPad)</a></li>
		<!-- <li><a href="/articles/applescript-install.html">How to install AppleScripts on your Mac</a></li> -->
		</ul>
	</li>
	<li>
		<a style="text-decoration:none;" href="/about.html">←</a>
	</li>
	</ul>
</div>
