{% unless page.hide_read_more %}
{% if include.more_url %}
	{% assign more_url = include.more_url %}
{% elsif page.url contains '/blog/' %}
	{% assign more_url = 'http://aurelio.net/blog/sumario/' %}
{% else %}
	{% assign more_url = '..' %}
{% endif %}
	<p class="read-more">
		<span class="unicode-char heart">♥</span>
		Gostou desse texto?
		<a href="{{ more_url }}">Aqui tem mais</a>.
	</p>{% endunless %}
{% unless page.hide_share %}
	<!-- http://www.sharelinkgenerator.com/ -->
	<p class="share">
		#compartilhe:
		<a target="_blank" rel="nofollow" href="http://twitter.com/home?status={{ page.title | append: ' ' | append: site.url | append: page.url | uri_escape }}">Twitter</a>,
		<a target="_blank" rel="nofollow" href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]={{ site.url | append: page.url | uri_escape }}&amp;p[images][0]=&amp;p[title]={{ page.title | uri_escape }}&amp;p[summary]=">Facebook</a>,
		<a target="_blank" rel="nofollow" href="https://plus.google.com/share?url={{ site.url | append: page.url | uri_escape }}">Google+</a>
	</p>{% endunless %}