<div class="atacama-albuns">
  <h3>Veja todos os álbuns de fotos:</h3>
  <ul>
    <li><a href="/viagem/atacama/album/album-1.html">Estrada de Salta até Santo Antonio de Los Cobres</a></li>
    <li><a href="/viagem/atacama/album/album-2.html">Santo Antonio de Los Cobres</a></li>
    <li><a href="/viagem/atacama/album/album-3.html">A travessia dos andes</a></li>
    <li><a href="/viagem/atacama/album/album-4.html">San Pedro de Atacama e localidades próximas</a></li>
    <li><a href="/viagem/atacama/album/album-5.html">Vale da Lua</a></li>
    <li><a href="/viagem/atacama/album/album-6.html">Chile/Argentina/Uruguai/Brasil</a></li>
    <li><a href="/viagem/atacama/album/album-7.html">Toyota Bandeirante</a></li>
    <li><a href="/viagem/atacama/album/album-8.html">Fotos diversas</a></li>
    <li><a href="/viagem/atacama/album/album-9.html">As melhores</a></li>
  </ul>
</div>

{% include atacama-nav.html %}
