<!-- If you change here, also change _includes/atacama-albuns.html -->

<div class="atacama-nav">
  <h3>Saiba mais sobre o ATACAMA:</h3>
  <ul>
    <li><a href="/viagem/atacama/duvidas.html">FAQ - Tire suas dúvidas</a></li>
    <li><a href="/viagem/atacama/roteiro.html">Roteiro / Itinerário completo</a></li>
    <li><a href="/viagem/atacama/dinheiros.html">Quanto gastamos</a></li>
    <li><a href="/viagem/atacama/album/">Álbum de fotos</a></li>
    <li><a href="/viagem/atacama/mapas/">Mapas do roteiro</a></li>
  </ul>
</div>
