{% unless page.hide_comments %}
	<!-- Disqus comments -->
{% if site.production %}
	<div id="disqus_thread"></div>
	<script>
	    function() {
	        var d = document, s = d.createElement('script');
	        s.src = 'https://aurelionet.disqus.com/embed.js';
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% else %}
	<div id="disqus_thread">DEV MODE: Disqus disabled</div>
{% endif %}
	<!-- /Disqus comments -->
{% endunless %}
