<div id="sidebar">
<div class="box" style="text-align:center">

<h2>DOWNLOAD</h2>

<p>
<a href="EmoMemory.dmg"><img style="vertical-align: middle;" src="/projects/img/icon/32/diskimage.png" alt=""></a> <a href="EmoMemory.dmg">EmoMemory.dmg</a>
</p>
<p>
<img src="/projects/img/universal.gif" alt="">
</p>
<p>
<del>20 day trial, full features</del><br>
<del>Buy now for only <strong>$7</strong></del>
</p>
<p>
<strong>Now it's FREE!</strong>
</p>
<p>
Use this Registration Code to unlock the game:
</p>
<p>
<strong>FREEGAME:D535DA</strong>
</p>
</div>
<div class="box">

<h3>OS X Lion Compatibility</h3>

<p>
Due AppleScript changes, the use of Address Book pictures is not working in Lion. But you can still play using a pictures folder or system art.
</p>
</div>
<div class="box">

<h3>Source Code</h3>

<p>
Are you a programmer? Hobbyist? Just curious? <a href="https://github.com/aureliojargas/emomemory">Browse the EmoMemory source code in GitHub</a> to see the extensive AppleScript code that runs this game.
</p>
</div>
<div class="box">

<h3>The Perfect Pair</h3>

<p>
<a href="/projects/adiumbook/"><img style="float: left;" src="/bin/img/adiumbook.png" alt=""></a> <a href="/projects/adiumbook/">AdiumBook</a>, a free app to copy pictures from Adium to Address Book.
</p>
</div>
<div class="box">

<h3>Free AppleScripts</h3>

<ul>
<li><a href="/projects/export-contacts-to-mp3-player/">Export Contacts to MP3 Player</a>
</li>
<li><a href="/projects/export-contacts-to-yahoo-csv/">Export Contacts to Yahoo CSV</a>
</li>
<li><a href="/projects/iphoto-sed/">iPhoto SED</a>
</li>
<li><a href="/projects/iphoto-set-sequential-title/">iPhoto Set Sequential Title</a>
</li>
<li><a href="/projects/itunes-find-artwork-less/">iTunes Find Artwork-less</a>
</li>
<li><a href="/projects/itunes-rename-disk-file/">iTunes Rename Disk File</a>
</li>
<li><a href="/projects/itunes-search-in-lyrics/">iTunes Search in Lyrics</a>
</li>
<li><a href="/projects/itunes-sed/">iTunes SED</a>
</li>
</ul>

</div>
<div class="box">

<h3>See Also</h3>

<ul>
<li><a href="/projects/">Free Software from this author</a>
</li>
</ul>

</div>
<div class="box">

<h3>Software Distributors</h3>

<p>
Here's the <a href="/projects/padfiles/emomemory-pad.xml">EmoMemory PAD file</a>.
</p>
<p>
Oh, and please announce it as version 1.0, not 1.0b1. The Info.plist entry is incorrect. Thanks.
</p>
</div>
</div><!--sidebar-->
