<style>
  nav.note {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
  }
  nav.note ul {
    list-style: none;
    margin-left: 0;
  }
  .nav-col {
    float: left;
    margin-right: 60px;
  }
  .nav-col.last {
    margin-right: 0;
  }
</style>

<nav class="note">
  <div class="nav-col">
    <h4>Sabores</h4>
    <ul>
      <li><a href="/moneylog/cloud/">MoneyLog Cloud</a></li>
      <li><a href="/moneylog/portable/">MoneyLog Portable</a></li>
      <li><a href="/moneylog/browser/">MoneyLog Browser</a></li>
      <li><a href="/moneylog/beta/">MoneyLog Beta</a></li>
    </ul>
  </div>
  <div class="nav-col">
    <h4>Docs</h4>
    <ul>
      <li><a href="/moneylog/about/">sobre</a></li>
      <li><a href="/moneylog/v5/">novidades v5</a> ★</li>
      <li><a href="/moneylog/faq/">FAQ</a></li>
      <li><a href="/moneylog/input/">lançamentos</a></li>
      <li><a href="/moneylog/config/">configuração</a></li>
    </ul>
  </div>
  <div class="nav-col last">
    <h4>Misc</h4>
    <ul>
      <li><a href="/moneylog/import/">conversor</a></li>
      <li><a href="/moneylog/donate/">doação</a> ♥</li>
      <li><a href="/moneylog/history/">versões antigas</a></li>
      <li><a href="https://github.com/aureliojargas/moneylog/issues">mande sua ideia</a> ★</li>
    </ul>
  </div>
  <div style="clear: both;"></div>
</nav>
