<p class="warning">★ Lista de episódios da série:
	<a title="O jeito Shell Script de resolver problemas – Episódio 1" href="http://aurelio.net/blog/2011/04/19/o-jeito-shell-script-de-resolver-problemas/">1</a>,
	<a title="O jeito Shell Script de resolver problemas – Episódio 2" href="http://aurelio.net/blog/2012/04/11/o-jeito-shell-script-de-resolver-problemas-parte-2/">2</a>,
	<a title="O jeito Shell Script de resolver problemas – Episódio 3" href="http://aurelio.net/blog/2012/05/10/o-jeito-shell-script-de-resolver-problemas-parte-3/">3</a>,
	<a title="O jeito Shell Script de resolver problemas – Episódio 4" href="http://aurelio.net/blog/2014/03/22/o-jeito-shell-script-de-resolver-problemas-4/">4</a>
</p>
