<div id="sidebar">

  <p>
    <a href="/projects/">
      <center>
        <img align="middle" src="/projects/img/lemon.png" border="0" alt="">
      </center>
    </a>
  </p>

  <div class="box">
    <h3>Free Softwares</h3>
    <ul>
      <li><a href="https://github.com/aureliojargas/clitest">clitest</a>    Unix command line tester</li></li>
      <li><a href="/projects/emomemory/">EmoMemory</a>  Emotional Memory game</li></li>
      <li><a href="/projects/adiumbook/">AdiumBook</a>  Sync Adium and Address Book</li></li>
      <li><a href="/projects/css-sandbox/">CSS Sandbox</a> Explore CSS in real-time</li></li>
      <li><a href="/projects/moneylog/">MoneyLog Experience</a>   Personal finances made real simple</li></li>
      <li><a href="http://txt2tags.org">txt2tags</a>   Text to HTML, LaTeX, Man page, ...</li></li>
      <li><a href="/projects/txt2regex/">txt2regex</a>  Regular expression (regex) wizard</li></li>
      <li><a href="/projects/sedsed/">sedsed</a>     Debugger &amp; HTMLizer for SED scripts</li></li>
      <li><a href="/projects/sedsokoban/">SedSokoban</a>    Sokoban game written in SED!</li></li>
      <li><a href="/projects/sedarkanoid/">SedArkanoid</a>   Arkanoid game written in SED</li></li>
    </ul>
  </div>

  <div class="box">
    <h3>Free AppleScripts</h3>
    <ul>
      <li><a href="/projects/export-contacts-to-mp3-player/">Export Contacts to MP3 Player</a></li></li>
      <li><a href="/projects/export-contacts-to-yahoo-csv/">Export Contacts to Yahoo CSV</a></li></li>
      <li><a href="/projects/gmail-to-jabber/">Gmail to Jabber</a></li></li>
      <li><a href="/projects/iphoto-sed/">iPhoto SED</a></li></li>
      <li><a href="/projects/iphoto-set-sequential-title/">iPhoto Set Sequential Title</a></li></li>
      <li><a href="/projects/itunes-find-artwork-less/">iTunes Find Artwork-less</a></li></li>
      <li><a href="/projects/itunes-rename-disk-file/">iTunes Rename Disk File</a></li></li>
      <li><a href="/projects/itunes-search-in-lyrics/">iTunes Search in Lyrics</a></li></li>
      <li><a href="/projects/itunes-sed/">iTunes SED</a></li></li>
    </ul>
  </div>

  <div class="box">
    <h3>Other</h3>
    <ul>
      <li><a href="/projects/">Main Page</a></li></li>
      <li><a href="/projects/padfiles/">PAD Files</a></li></li>
    </ul>
  </div>

</div><!--sidebar-->
