<div class="nav" style="margin:3em 0; background:#fee; padding:15px 0; border:1px solid #faa;">
  <a href="http://www.piazinho.com.br">
    <img src="http://aurelio.net/img/icon/128/livroregex5.png" style="float:left">
  </a>
  <p>
    Consulte todas as referências <a href="http://www.piazinho.com.br">do livro</a>:
    <a href="/regex/actionscript/">ActionScript</a>,
    <a href="/regex/apache/">Apache</a>,
    <a href="/regex/awk/">Awk</a>,
    <a href="/regex/bash/">Bash</a>,
    <a href="/regex/c/">C</a>,
    <a href="/regex/emacs/">Emacs</a>,
    <a href="/regex/find/">find</a>,
    <a href="/regex/googledocs/">Google Docs</a>,
    <a href="/regex/grep/">grep</a>,
    <a href="/regex/html5/">HTML5</a>,
    <a href="/regex/java/">Java</a>,
    <a href="/regex/javascript/">JavaScript</a>,
    <a href="/regex/lua/">Lua</a>,
    <a href="/regex/mysql/">MySQL</a>,
    <a href="/regex/dotnet/">.NET</a>,
    <a href="/regex/nginx/">Nginx</a>,
    <a href="/regex/word/">Microsoft Word</a>,
    <a href="/regex/npp/">Notepad++</a>,
    <a href="/regex/ooo/">LibreOffice</a>,
    <a href="/regex/oracle/">Oracle</a>,
    <a href="/regex/perl/">Perl</a>,
    <a href="/regex/php/">PHP</a>,
    <a href="/regex/postgresql/">PostgreSQL</a>,
    <a href="/regex/powershell/">PowerShell</a>,
    <a href="/regex/python/">Python</a>,
    <a href="/regex/ruby/">Ruby</a>,
    <a href="/regex/sed/">sed</a>,
    <a href="/regex/sqlite/">SQLite</a>,
    <a href="/regex/tcl/">Tcl</a>,
    <a href="/regex/vbscript/">VBscript</a>,
    <a href="/regex/vim/">Vim</a>.
  </p>
</div>
