	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		// Automatic caption in .figure
		// http://steforce.oin.name/read/automatic_captions.html
		$(document).ready(function() {
			$('p > img').each(function() {
				if ($(this).attr('alt')) {
					$(this).parent().addClass('figure');
					$(this).after('<span>' + $(this).attr('alt') + '</span>');
				} else {
					$(this).parent().addClass('image');
				}
			});
			$('p > a > img').each(function() {
				if ($(this).attr('alt')) {
					$(this).parent().parent().addClass('figure');
					$(this).parent().after('<span>' + $(this).attr('alt') + '</span>');
				} else {
					$(this).parent().parent().addClass('image');
				}
			});
		});
	</script>