<div class="banner" style="background: #fafafa; border: 1px solid #ddd; margin: 2em 0; padding: 15px 0">
  <a href="http://www.shellscript.com.br">
    <img src="/img/icon/128/livroshell.png" style="float:left">
  </a>
  <p>
      Eu escrevi um livro de quase 500 páginas sobre shell! O nome é <A HREF="http://www.shellscript.com.br">Shell Script Profissional</A> e está à venda nas livrarias do país. Você me ajuda comprando o livro e eu te ajudo a dominar o shell. Combinado? :)
  </p>
  <div class="clearfix"></div>
</div>
