	<div id="bio" class="sidebar-box">
		<p>
			<img src="http://aurelio.net/img/avatar-alpha.png">
			Oi! Sou o
			Aur<a href="http://aurelio.net/blog/2011/05/26/aos-33-descobri-que-meu-nome-nao-tem-acento/">e</a>lio Jargas,
			39,
			nerd e
			<a href="http://aurelio.net/blog/2009/09/24/escritor/">escritor</a>.
			Moro em Joinville com minha amada esposa <a href="http://aurelio.net/tags/#mog">Mog</a>.
		</p>
	</div>

	<div id="meus-livros" class="sidebar-box">
		<h4>Meus livros</h4>
		<p>
			<a href="http://www.piazinho.com.br">Expressões Regulares</a><br>
			<a href="http://www.shellscript.com.br">Shell Script Profissional</a>
		</p>
	</div>

	<div id="softwares" class="sidebar-box">
		<h4>Meus softwares</h4>
		<p>
			<a href="http://aurelio.net/soft/adiumbook/">AdiumBook</a>,
			<a href="http://aurelio.net/coisinha/caraoucoroa/">Cara ou Coroa?</a>,
			<a href="http://aurelio.net/css-sandbox/">CSS Sandbox</a>,
			<a href="https://github.com/aureliojargas/clitest">clitest</a>,
			<a href="http://aurelio.net/coisinha/embriagueitor/">Embriagueitor</a>,
			<a href="http://aurelio.net/soft/emomemory/">EmoMemory</a>,
			<a href="http://aurelio.net/coisinha/engripeitor/">Engripeitor</a>,
			<a href="http://funcoeszz.net">Funções ZZ</a>,
			<a href="http://aurelio.net/coisinha/miguxeitor/">MiGuXeiToR</a>,
			<a href="http://aurelio.net/moneylog/">MoneyLog</a>,
			<a href="http://aurelio.net/rac/">RAC</a>,
			<a href="http://aurelio.net/coisinha/relogio/">Relógio textual</a>,
			<a href="http://aurelio.net/soft/sedarkanoid/">SedArkanoid</a>,
			<a href="http://aurelio.net/soft/sedsokoban/">SedSokoban</a>,
			<a href="http://aurelio.net/sedsed/">sedsed</a>,
			<a href="http://aurelio.net/coisinha/subwaytor/">Subwaytor</a>,
			<a href="http://aurelio.net/coisinha/tabuada/">Tabuada</a>,
			<a href="http://aurelio.net/txt2regex/">txt2regex</a>,
			<a href="http://txt2tags.org/pt/">txt2tags</a>,
			<a href="http://umportugues.com">Um Português</a>,
			<a href="http://aurelio.net/coisinha/viravira/">vira|ɐɹıʌ</a>
		</p>
	</div>

	<div id="blog" class="sidebar-box">
		<h4>Blog</h4>
		<p>
			<a href="http://aurelio.net/blog/sumario/">sumário</a>,
			<a href="http://aurelio.net/tags/">tags</a>,
			<a href="http://aurelio.net/blog/">posts recentes</a>
		</p>
	</div>

	<div id="nerd" class="sidebar-box">
		<h4>Nerdices</h4>
		<p>
			<a href="http://aurelio.net/applescript/">applescript</a>
			<a href="http://aurelio.net/bin/">bin</a>
			<a href="http://aurelio.net/shell/canivete/">canivete</a>
			<a href="http://codare.net">codare</a>
			<a href="http://aurelio.net/coisinha/">coisinha</a>
			<a href="http://aurelio.net/cygwin/">cygwin</a>
			<a href="http://aurelio.net/shell/dialog/">dialog</a>
			<a href="http://aurelio.net/doc/">doc</a>
			<a href="http://aurelio.net/curso/">eventos</a>
			<a href="http://aurelio.net/doc/coluna/">linux</a>
			<a href="http://aurelio.net/livro/">livro</a>
			<a href="http://aurelio.net/mac/">mac</a>
			<a href="http://aurelio.net/shell/miniman/">miniman</a>
			<a href="http://aurelio.net/pyobjc">pyobjc</a>
			<a href="http://aurelio.net/regex/">regex</a>
			<a href="http://aurelio.net/tags/#screencast">screencast</a>
			<a href="http://aurelio.net/sed/">sed</a>
			<a href="http://aurelio.net/shell/">shell</a>
			<a href="http://aurelio.net/vim/">vim</a>
			<a href="http://aurelio.net/unicode.txt">unicode</a>
			<a href="http://aurelio.net/wordpress/">wordpress</a>
		</p>
	</div>

	<div id="outros" class="sidebar-box">
		<h4>Outros</h4>
		<p>
			<a href="http://aurelio.net/viagem/atacama/">atacama</a>
			<a href="http://aurelio.net/musica/#minhas-bandas">bandas</a>
			<a href="http://aurelio.net/baterna/">baterna</a>
			<a href="http://aurelio.net/carve/">carveboard</a>
			<a href="http://aurelio.net/fvm/">faça-você-mesmo</a>
			<a href="http://aurelio.net/musica/">música</a>
			<a href="http://aurelio.net/foto/pe/">pé</a>
			<a href="http://aurelio.net/pogo">pogo</a>
			<a href="http://aurelio.net/surf/">surf</a>
			<a href="http://aurelio.net/viagem/">viagem</a>
		</p>
	</div>

	<div id="jaba" class="sidebar-box">
		<h4>Jabá</h4>
		<ul>
			<li title="Por este link, cadastre-se no Dropbox e ganhe 500MB de espaço adicional em sua conta.">
				<a href="http://db.tt/BOoG2How">Dropbox:</a>
				+500MB na instalação
			</li>
			<li title="Clique neste link antes de fazer compras no Submarino. Ganharei uma pequena comissão deles e isso não aumenta em nada o valor de sua compra.">
				<a href="http://www.submarino.com.br/?franq=AFL-03-1744">Submarino:</a>
				ganho de 3% a 8%</li>
			<li title="Clique neste link antes de fazer compras no Submarino Viagens. Ganharei uma pequena comissão e isso não aumenta em nada o valor de sua compra.">
				<a href="http://www.submarinoviagens.com.br/?franq=AFL-03-1744">Submarino Viagens:</a>
				ganho 4%
			</li>
			<li title="Clique neste link antes de fazer compras nas Lojas Americanas. Ganharei uma pequena comissão e isso não aumenta em nada o valor de sua compra.">
				<a href="http://www.americanas.com.br/?franq=AFL-03-1744">Americanas.com:</a>
				ganho 3% a 8%
			</li>
			<li title="Clique neste link antes de fazer compras no DX (DealExtreme). Ganharei uma pequena comissão e isso não aumenta em nada o valor de sua compra.">
				<a href="http://dx.com/?Utm_rid=56199011&Utm_source=affiliate">DX - DealExtreme:</a>
				ganho 2%
			</li>
			<li title="Use este link e o código OREIO30 para ganhar 30 dólares de desconto ao assinar o plano de hospedagem do DreamHost.">
				<a href="http://www.dreamhost.com/r.cgi?251258">DreamHost:</a>
				-$30 com OREIO30
			</li>
			<li title="Clique neste link antes de assinar o pacote de temas do ElegantThemes. Ganharei 50% do valor que você pagar.">
				<a href="http://www.elegantthemes.com/affiliates/idevaffiliate.php?id=5032">ElegantThemes:</a>
				ganho 50%
			</li>
			<li title="Sua namorada/esposa/mãe/irmã adora estampa de oncinha? Vai na loja da Mog e compre um presente pra ela!">
				<a href="http://www.CoisasDeOncinha.com.br">Lojinha da Mog:</a>
				Só oncinha!
				</li>
			<li title="Você usa muito a Wikipédia? Eu também! Faça sua parte, doando $$ para eles continuarem firmes online.">
				<a href="https://donate.wikimedia.org">Doe $$ pra Wikipédia!</a>
			</li>
		</ul>
	</div>

	<div id="top-15" class="sidebar-box">
		<h4>Top 15</h4>
		<ul>
			<li><a href="http://aurelio.net/blog/2007/05/27/choque-de-realidade/">Choque de realidade</a></li>
			<li><a href="http://aurelio.net/blog/2007/10/04/ida-ao-banco-em-matinhos/">Ida ao banco em Matinhos</a></li>
			<li><a href="http://aurelio.net/blog/2008/06/27/bingo/">BINGO!</a></li>
			<li><a href="http://aurelio.net/blog/2007/03/29/vamos-falar-de-grana/">Vamos falar de grana $$$</a></li>
			<li><a href="http://aurelio.net/blog/2007/10/07/fiz-trinta/">Fiz trinta</a></li>
			<li><a href="http://aurelio.net/blog/2008/04/22/a-mog-foi-no-fisl/">A Mog foi no FISL</a></li>
			<li><a href="http://aurelio.net/blog/2008/09/03/faire/">Fáire! Meu Fiat Uno pegou fogo</a></li>
			<li><a href="http://aurelio.net/blog/2005/11/30/processo-de-desnerdizacao/">Processo de desnerdização</a></li>
			<li><a href="http://aurelio.net/blog/2006/05/15/e-book-ou-livro-impresso-como-publicar-sua-obra/">E-book ou livro impresso?</a></li>
			<li><a href="http://aurelio.net/blog/2009/03/11/garoto-de-programa/">Garoto de programa</a></li>
			<li><a href="http://aurelio.net/blog/2009/09/24/escritor/">Escritor</a></li>
			<li><a href="http://aurelio.net/blog/2009/12/11/game-over-quase/">Game Over? Quase!</a></li>
			<li><a href="http://aurelio.net/blog/2010/09/23/estou-ha-5-anos-desempregado-viva/">Estou há 5 anos desempregado! Viva!</a></li>
			<li><a href="http://aurelio.net/blog/2011/04/19/o-jeito-shell-script-de-resolver-problemas/">O jeito Shell Script de resolver problemas</a></li>
			<li><a href="http://aurelio.net/blog/2011/05/26/aos-33-descobri-que-meu-nome-nao-tem-acento/">Aos 33, descobri que meu nome não tem acento!</a></li>
			<li><a href="http://aurelio.net/blog/2012/08/25/rotina-de-escritor/">Rotina de escritor</a></li>
		</ul>
	</div>

	<div class="sidebar-box">
		<h4>Minha carreira</h4>
		<ul>
			<li>1997 – Entrei na Conectiva</li>
			<li><a href="http://aurelio.net/blog/2005/09/23/free-as-in-bird/">2005 – Saí da Conectiva</a></li>
			<li><a href="http://aurelio.net/blog/2005/11/30/processo-de-desnerdizacao/">2005 – Processo de desnerdização</a></li>
			<li><a href="http://aurelio.net/blog/2006/02/08/de-nerd-a-fotografo/">2006 – Fotógrafo de surfe</a></li>
			<li><a href="http://aurelio.net/blog/2007/03/29/vamos-falar-de-grana/">2007 – Como ganho dinheiro</a></li>
			<li><a href="http://aurelio.net/blog/2009/09/24/escritor/">2009 – Escritor</a></li>
			<li><a href="http://aurelio.net/blog/2010/09/23/estou-ha-5-anos-desempregado-viva/">2010 – Desempregado há 5 anos</a></li>
			<li><a href="http://aurelio.net/blog/2014/11/08/funcionario-publico/">2013 – Funcionário público</a></li>
			<li><a href="http://aurelio.net/blog/2017/02/06/contaazul/">2016 – ContaAzul</a></li>
		</ul>
	</div>

	<div id="recentes" class="sidebar-box">
		<h4>Textos Recentes</h4>
		<ul>
{% for post in site.data.recent %}
			<li><a href="{{ site.url}}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
			<li><a href="http://aurelio.net/blog/sumario/">→ Veja mais…</a></li>
		</ul>
	</div>
