/* CSS style for RAC Examples Homepage - https://aurelio.net/rac */

body  {
	margin: 20px;
	line-height: 110%;
}
.toc {
	line-height: 150%;
}
h1 {
	margin: 3em 0 3em 0;
	text-align: center;
}
h2 {
	border: 1px solid black;
	border-width: 0 0 1px 0;
	margin: 3em 0 3em 0;
	line-height: normal;
}
h3 {
	margin-top: 3em;
}
a {
	text-decoration: none;
}
pre,blockquote {
	margin-left: 3em;
	margin-right: 3em;
	padding: 10px;
	/*
	border: 1px solid blue;
	background-color: silver;
	*/
}
td {
	font-size: 110%;
	padding: 10px;
	border: 1px solid gray;
}
th {
	background-color: silver;
	padding: 5px;
	border: 2px solid black;
}
