body {
  margin: 10px;
  background: #894;
  font-family: sans-serif;
  text-align: justify;
}
h1 {
  color: white;
  font-size: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: yellow;
}
.footer {
  margin-top: 1em;
  border-top: 1px solid white;
  padding-top: 1em;
}
.prev {
  float: left;
}
.next {
  float: right;
  text-align: right;
}
.home {
  display: block;
  clear: both;
  text-align: center;
  padding: 2em 0;
}
