/* http://aurelio.net/articles theme */
/* by Aurelio Jargas, 2014-04-02, MIT licensed */


/* ------------------------------------  From common.css */
pre {
	overflow: auto;
}
.byline {
	margin: 0;
}
.byline a {
	color: blue;
}
.note            { padding:6px 9px; background:#EEEEEE; border:1px solid #CCC; }    /* silver */
.download        { padding:6px 9px; background:#E7F7D3; border:1px solid #6C3; }    /* green  */
.warning, .alert { padding:6px 9px; background:#FFFBBC; border:1px solid #E6DB55; } /* yellow */


/* ------------------------------------ */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #444;
}
h1 a {
	color: #050 !important;
}
blockquote {
	color: gray;
	font-size: 90%;
}
li {
	margin-bottom: 0.5em;
}
table, tr, td, th {
	border: 0 solid #ccc;
}
table {
	border-collapse: collapse;
	margin: 2em auto;
}
td, th {
	line-height: 1.2em;
	font-size: 80%;
}
th {
	padding: 0.7em 5px;
	background-color: #eee;
	font-weight: bold;
}
td {
	padding: 4px 5px;
}
td.center { text-align: center; }
td.right  { text-align: right; }

table.tableborder td,
table.tableborder th {
	border-width: 1px;
}

img {
	max-width: 100%;
}
img.center {
	clear: both;
	display: block;
	margin: 0 auto;
}
img.right {
	float: right;
	margin-left: 1em;
}
code {
	font-weight: bold;
}

#eof {
	text-align: center;
	color: #ddd;
	margin-top: 2em;
}

/* ------------------------------------  nav */

#nav ul ul {
	padding-left: 1.5em;
}
#nav li {
	margin-bottom: 0;
}

/* ------------------------------------  custom */

#applescript-install h2 { font-weight: normal; }
#applescript-vs-python table i { color: #aaa; }
#iphoto-symlinks table { border-width: 1px; }
#iphoto-symlinks th { text-align: left; }
#sed-abc .patt { color: lime; }
#sed-abc .hold { color: yellow; }
#shell-reference table { width: 100%; }
#shell-reference code { color: inherit; font-weight: normal; }


/* ------------------------------------  iPhone = 320x480 */

@media screen and (max-width: 480px) {
	#article-header h1 {
		font-size: 1.5em;
	}
	#article-body {
		overflow: auto;  /* Wide tables */
	}
	td, th {
		font-size: 70%;
	}
	#nav ul ul {
		padding-left: 0;
	}
	.aureliohead {
		display: none;
	}
}
