body {
	max-width: 900px; /* overwrite */
	width: 900px;
	padding-left: 10px;
}
#main {
	float: left;
	width: 540px;  /* body - ad - spacing */
	font-size: 90%;
}
#sidebar {
	float: right;
	padding-top: 4em;
}
.ad-300x600 {
	width: 300px;
	height: 600px;
	margin: 0;
}
@media screen and (max-width: 600px) {
	body {
		width: auto;
		max-width: 35em;
	}
	#main {
		width: auto;
		float: none;
	}
	#sidebar {
		display: none;
	}
}
