.material {
	border		: 1px solid #888;
	background-color: #cf0;
	float		: right;
	padding-left	: 9px;
/*	padding-right	: 0px;*/
	width		: 33%;
	margin		: 0 -5em 1em 1em;
	text-align	: left;
	font-size	:85%;
}
.material p {
	margin:0;
}
.material u {
	background-color: #ffc;
	text-decoration	: none;
}
.material li {
	padding		:0;
}

.foto {
/*	clear		: right;*/
	float		: right;
	background-color: #000;
	color		: #fff;
	width		: 210px;
/*	margin		: 0 -9em 5px 1.5em;*/
	padding     	: 5px;
	text-align	: center;
	font-style	: italic;
	font-size	: 85%;
	line-height	: 125%;
/*	border		: 1px solid black;*/
}
.foto-lado table {
	background-color: #000;
	color		: #fff;
	padding     	: 5px;
	border		: 1px solid black;
	text-align	: center;
	font-style	: italic;
}

.material.center,
.foto.center {
	float: none;
	margin: 2em auto;
}
.foto.big {
	width: 660px;
	padding: 5px 0;
}
.foto.medium {
	width: 340px;
	padding: 5px 0;
}


/*
div.aprendamais {
	clear		: both;
	background-color: #ffb;
	border		: 3px solid #555;
	padding		: 0 2em;
	margin-top	: 3em;
	font-size:85%;
}
#main .aprendamais h3 {
	font-size:200%;
	padding-bottom:0.5em;
}
*/
/* Deixa os links locais parecidos com o AdSense */
/*
#main .aprendamais ul {
	list-style-type	:none;
}
#main .aprendamais li {
	list-style-type	:none;
	padding		:0 0 0 5px;
	margin 		:0;
}
.aprendamais a {
	text-decoration	:underline;
}
.aprendamais a:hover {
	background 	:#ffb;
	color 		:#07f;
}
*/

