---
title: Faça Você Mesmo - Aqui é tudo grátis, aproveite as dicas!
article_footer_after: false
---

<style>
  #main dt {
    font-size: 125%;
    margin-top: 2em;
  }
  #main dt img {
    width: 120px;
    height: 90px;
    border: 1px solid #444;
    padding: 3px;
    margin-left: 1em;
  }
  #main img.right {
  	float: right;
  }
</style>

<p>
  Use uma camiseta com a SUA estampa.<br>
  Cole o SEU adesivo no carro.<br>
  Pinte VOCÊ mesmo seu cabelo.<br>
  Liberte-se, faça você mesmo.
</p>

<dl>
  <dt>
    <a href="/fvm/pintar-cabelo-com-papel-crepom.html">Como pintar o cabelo com papel crepom</a> <img class="right" src="/fvm/mini/crepom.jpg" alt="">
  </dt>
  <dd>Quer pintar o cabelo de vermelho igual à personagem do Rebelde (RBD)? Quer chamar atenção na festa da escola? Quer chocar a sociedade com seu moicano colorido? Papel crepom é bem barato e com um simples copo d'água você pinta o cabelo.</dd>
  <dt>
    <a href="/fvm/retirar-pontos-de-sutura.html">Como retirar os pontos de uma ferida</a> <img class="right" src="/fvm/mini/ponto4.jpg" alt="">
  </dt>
  <dd>Cortou-se, levou pontos e está com preguiça de ir ao hospital retirá-los? Faça você mesmo em casa!</dd>
  <dt>
    <a href="/fvm/adesivo-para-carro-plotter.html">Adesivo para colar na lataria do carro (Plotter, Vinil)</a> <img class="right" src="/fvm/mini/plotter4.jpg" alt="">
  </dt>
  <dd>Aprenda como fazer um adesivo bonitão para colar na lataria do seu carro, pode ser um desenho, uma frase ou o endereço de um site.</dd>
  <dt>
    <a href="/fvm/barquinho-de-papel.html">Como fazer um barquinho de papel</a> <img class="right" src="/fvm/mini/barquinho-desenho.jpg" alt="">
  </dt>
  <dd>Aprenda (ou relembre) como fazer seu barquinho. Tem passo-a-passo com desenhos e até um vídeo para aqueles realmente apressadinhos.</dd>
  <dt>
    <a href="/fvm/pintar-camiseta-com-caneta.html">Como pintar camiseta com CANETA para tecido</a> <img class="right" src="/fvm/mini/cam_fatbob.jpg" alt="">
  </dt>
  <dd>Fazer sua própria estampa em uma camiseta é muito fácil, basta desenhar com a caneta! É uma caneta especial, comprada em qualquer papelaria e custa baratinho. Pode lavar à vontade que não sai.</dd>
  <dt>
    <a href="/fvm/pintar-camiseta-com-tinta.html">Como pintar camiseta com TINTA para tecido</a> <img class="right" src="/fvm/mini/cam_ultrage.jpg" alt="">
  </dt>
  <dd>Para fazer estampas com aparência mais profissional que as do item anterior, use a tinta para tecido, que é como se fosse uma "tinta guache" que não sai quando lava. Fica show!</dd>
  <dt>
    <a href="/fvm/porta-fitas-k7-de-palito-sorvete.html">Porta-fitas cassete (k7) feito com palitos de sorvete</a> <img class="right" src="/fvm/mini/pf-pronto.jpg" alt="">
  </dt>
  <dd>Seja para organizar sua coleção de antigas fitas cassete (k7), seja para relaxar ou passar um tempo de qualidade com seu filho, brinque de colar palitos de sorvete.</dd>
  <dt>
    <a href="/fvm/etiquetas-fitas-k7.html">Como fazer etiquetas para fitas cassete (k7)</a> <img class="right" src="/fvm/mini/fita.jpg" alt="">
  </dt>
  <dd>Tá, eu sei que as fitas cassete já estão virando item de museu, mas ainda há pessoas que as utilizam, então fica a dica. Nas etiquetas vão os nomes das músicas, da banda e do disco. Bem prático!</dd>
  <dt>
    <a href="/fvm/desenho-matriz-para-pintar-camiseta.html">Desenho matriz para pintar na camiseta</a> <img class="right" src="/fvm/mini/cam_toyabsurd.jpg" alt="">
  </dt>
  <dd>Usado tanto na pintura da estampa com caneta e com tinta (veja itens seguintes), fazer o molde para a arte da camiseta é o primeiro passo.</dd>
</dl>

{% include nav-email.html %}

{% include nav-mulherzice.html %}
