/*

  URL    : http://correria.org/estilo.css
  Author : Aurelio Marinho Jargas <http://aurelio.net>
  License: GPL

  555555  Fundo cinza escuro
  444444  Fundo cinza mais escuro
  88DD44  Verde brilhante
  BBEE88  Verde palido acinzentado
  CCCC11  Amarelo escuro
  CCCC55  Verde nojo
  BBCC77  Verde nojo2
  EEEE77  Amarelo palido
  EE9922  Laranjado
  FFCC55  Laranjado palido
  33DD88  Verde piscina
  DDCC55  Marrom barro
  DDFFCC  Gelo
  88CCEE  Azul claro

*/

body
	{
	background-color: #333;
	color		: #333;
	margin		: 0em;
	padding		: 0em;
	}
a
	{
	text-decoration	: none;
	font-weight	: bold;
	}
a:visited
	{
	color		: purple;
	}
a:hover
	{
	color		: red;
	}

td
	{
	padding		: 1px;
	padding-left	: 15px;
	padding-right	: 15px;
	}

pre
	{
	background-color: white;
	color		: black;
	margin		: 2em;
	padding		: 8px;
	border		: 1px solid #444;
	}
dl
	{
	margin-bottom	: 4em;
	}
dt
	{
	padding-top	: 6px;
	border-top	: 1px dotted #444;
	font-weight	: bold;
	}
dd
	{
	padding-bottom	: 6px;
	}
img
	{
	border		: 1px solid #444;
	}
img.novo, img.noborder
	{
	border-width	: 0px;
	}

/* ----------------------------------------------------------- */

#topo
	{
	color		: #999;
	text-align	: center;
	font-style	: italic;
	font-size	: 300%;
	}
#topo img
	{
	border		: 0 none;
	padding		: 10px 0;
	}
#topo h1
	{
	display		: none;
	}

/* ----------------------------------------------------------- */

#menu
	{
	float		: left;
	width		: 9em;
	padding		: 0;
	text-align	: center;
	}
#menu ul
	{
	list-style-type	: none;
	margin		: 0;
	padding		: 0;
	}
#menu li
	{
	margin		: 1em 0;
	}
#menu a
	{
	display		: block;
	color		: yellow;
	font-weight	: normal;
	}
#menu a:hover
	{
	text-decoration	: underline;
	font-weight	: bold;
	}

/* ----------------------------------------------------------- */

#corpo
	{
	background-color: #ccc;
	margin		: 0 2em 0 10em;
	padding		: .5em;
	line-height	: 150%;
	text-align	: justify;
	}
#corpo a img#t2t
	{
	position	: absolute;
	bottom		: 0;
	right		: 0;
	}

#corpo h1
	{
	text-align	: center;
	}

/* ----------------------------------------------------------- */

#rodape
	{
	color		: #999;
	clear		: both;
	padding-top	: 0.5em;
	text-align	: center;
	font-style	: italic;
	}
#rodape a
	{
	color		: yellow;
	}

