/* faq.css */

/* ---------------------------------------------- Reset CSS (from YUI) */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0; }
table { border-collapse:collapse;border-spacing:0; }
body { font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small; }
table { font-size:inherit;font:100%; }
th,td { border-style:none;padding:.5em; }
p,blockquote,ul,ol,dl,pre { margin:1em; }
ol,ul,dl { margin-left:2em; }
dl dd { margin-left:1em; }

/* --------------------------------- Layout */
#header {
	position:fixed;
	left:0;
	bottom:0;
	top:0;
	margin:0;
	width:2em;
	z-index:9;
}
#header h2,
#header h3 {
	display:none;
}
.toc {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:40%;
	overflow:auto;
	padding-left:2.5em;
}
#main,
#nav,
#footer {
	margin-left:47%;
}
#nav {
	margin-right:3em;
}
#main h1 {
	margin:2em 0;
	font-size:200%;
	text-align:center;
}
#main h2 {
	Xdisplay:none;
}



/* --------------------------------- Formatting */

#header h1 {
	font-size:150%;
	font-family:Impact,Arial,Helvetica,sans-serif;
	text-transform:uppercase;
	padding:2px 5px;
	text-align:center;
}
.toc {
	font-size:12px;
	line-height:130%;
	border-right:1px solid #000;
	padding-top:5px;
}
.toc a {
	text-decoration:none;
}
.toc ul {
	margin:0;
}
.toc li {
	list-style-type:none;	
}
.toc ul ul li {
	margin-left:2em;
}
#main {
	padding-right:1em;
}
#main h2 {
	font-size:150%;
	margin:2em 0 2em -3em;
	padding-left:5em;
	text-align:right;
}
#main h3 {
	font-size:125%;
	padding-top:3em;
	border-bottom:1px solid #000;
}
#main p {
	text-align:left;
}
#main ul {
	margin-left:1em;
}
#main ul ul,
#main dl ul {
	margin:0 0 0 0.5em;
}
#main li {
	padding:0.25em 0;
}
#main pre {
	margin-left:1em;
}
#main table {
	font-size:100%;
	margin:1em;
}
#nav {
	font-size:120%;
}
#footer {
	font-size:100%;
}
/* ---------------------------------- Colors */

#header {
	background:red;
	color:white;
}
.toc {
	background-color:#fffafa;
	border-color:red;
}
.toc > ul > li > a {
	color:black;
}
#main h2 {
	background-color:red;
	color:white;
}
#main h3 {
	color:red;
	border-color:red;
}
#main i {
/*	background:#eee;*/
	color:red;
}
#main dl {
	margin-left:1em;
}