/* book.css */
/* Try to imitate the printed book look and feel, no distractions */
/* Ex.: Vim articles */

/*
XXX TODO book background image?
XXX TODO meio (esquerda) e páginas (direita)
*/

body {
	width:33em;   /* 3in to 5in is recommended */
	margin:0 auto;
	font-size:110%;   /* Bigger is better */
	/* Try kinda-serif fonts, if not try Palatino/Georgia, if not, get back to sans */
	font-family:Optima,"CG Omega","Zapf Humanist",Palatino,"Palatino Linotype","Book Antiqua",Georgia,Arial,Helvetica,sans-serif;
	/* Legible sans font */
/*	font-family:"Gill Sans";*/
	/* Legible on screen & paper, preferred by Pagehand editor */
/*	font-family:"Hoefler Text";*/
	/* Legible++ */
/*	font-family:Palatino,"Palatino Linotype","Book Antiqua";*/
	/* In the middle os serif and sans */
/*	font-family:Optima,"CG Omega","Zapf Humanist";*/
}
/* Pretty, but not suitable for long titles */
/*
#header {
	font-family:Zapfino;
}
*/

/* Paragraphs indented as in books */
#main p {
	text-indent:2em;
}

/* Intro highlighted, but not as much to don't steal main title attention */
#main p.intro {
	font-style:italic;
	text-indent:0;
	font-size:90%;
	line-height:130%;
	margin:0em 2em 3em 2em;
	background-color:#fafafa;
}

/* Big letter is cool in magazines, but here it didn't worked well */
/*
#main .intro p:first-letter {   
	font-size:300%;
	float:left;
}
*/

/* Seems pretty to align the list text with paragraph indent */
#main ul,
#main ol {
	margin:1em 0;
}
#main li {   
	margin-left:2em;
}


/* Copied from titorial.css */
#main dl {   /* DL don't need to be indented, waste of space */
	margin:1em 0;
}
#main dt {   /* Seems pretty and calls attention */
	font-style:italic;
}
#main dd > ul {   /* no extra spacing when nesting lists */
	margin:0 0 0 1em;
}


/*-------------------------- CUSTOM ------*/

/* Sed HOWTO */
body.sedhowto #main b {   /* Lots of <B>, they distract */
	font-weight:normal;
}
body.sedhowto #main p,   /* Short paragraphs, indenting is ugly */
body.dialog #main p {   /* Short paragraphs, indenting is ugly */
	text-indent:0;
}
body.sedhowto #header h2 {   /* Section title */
	font-size:150%;
/*	font-style:normal;*/
/*	font-weight:bold;*/
}
body.sedhowto #header h3 {   /* Author name */
	font-style:normal;
}


/*-------------------------- PREV/NEXT NAV ------*/
/* Used in Sed HOWTO */
.prevnextnav {
	margin:2em 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background-color:#eee;
	text-align:center;
}
