/* normal2.css */
/* Less spacing than normal.css */

body {
	width: 30em;
	margin: 0 auto;
	font-size: 100%;
}
#header {
	margin: 0;
	border-bottom: 1px solid #888;
	
}
#header h1 {
	line-height: 100%;
	font-size: 150%;
}
#header h2 a:hover {
	text-decoration: underline;
}
#main h2 {
	margin-top: 2em;
}
#main h2 a {
	color: black;
	text-decoration: none;
}
#main h2 a:hover {
	text-decoration: underline;
}
#main p {
	text-align: left;
}
