/* ---------------------------------------------- Reset CSS (from YUI) */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0;padding:0; }
table { border-collapse:collapse;border-spacing:0; }
body { font:12px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small; }
select,input,button,textarea { font:99% arial,helvetica,clean,sans-serif; }
table { font-size:inherit;font:100%; }
th,td { border-style:none;padding:.5em; }
p,blockquote,ul,ol,dl { margin:1em; }
ol,ul,dl { margin-left:2em; }
dl dd { margin-left:1em; }


body {
	color:lime;
	background:black;
	font-size:100%;
}
p,ul,dl,pre {
	margin:1em 4em;
}

#header {
	margin:80px 0 80px 80px;
}
#header h2 {
	font-size:100%;
}
#header a {
	text-decoration:none;
	font-style:italic;
}
.toc {
	text-align:center;
	position:fixed;
	top:0;
	right:0;
	background:black;
	border:1px solid lime;
	border-width:0 0 1px 1px;
	padding:5px;
}
.toc ul {
	margin:0;
	list-style-type:none;
}
.toc a {
	text-decoration:none;
}
a {
	color:yellow;
}
a:hover {
	background:yellow;
	color:black;
}
#main h2,
#main h3 {
	padding:20px 0 0 20px;
}
#main h2 {
	margin-top:2em;
	border-top:1px solid lime;
}
#main h3 {
	margin-top:1em;
}
#main img {
	border:1px solid silver;
}
#main ul ul {
	margin:0 0 0 1em;
}
#main table {
	border:1px solid lime;
	margin-top:1em;
	margin-bottom:1em;
	width:422px;
}
#main th {
	background:lime;
	color:black;
}
#footer {
	margin:3em 0;
	text-align:center;
}
#footer img {
	border-style:none;
	padding:2px;
}
