/*
 * Description : Style for Articles
 * Supports    : TOC, 3 title levels, lists, quotes, images and tables
 * Details     : To be used with txt2tags --css-sugar
 * Author      : Aurelio Marinho Jargas
 * License     : Public Domain
 *
 * Dependent files (--css-inside):
 * - musica/pogo.t2t
 */


/* TOC with spaced items, easier to click */
.toc
	{
	line-height	: 150%;
	}

/* margin, justified text and italic quotes seems to be nice for reading */
.body
	{
	margin		: 2em;
	text-align	: justify;
	}
.body blockquote
	{
	font-style	: italic;
	}

/* heading spaced and underlined */
.body h1
	{
	margin-top	: 2.0em;
	border-width	: 0 0 1px 0;
	border-color	: black;
	border-style	: solid;
	}
/* subheading clean and centered */
.body h2
	{
	margin-top	: 2.0em;
	text-align	: center;
	}
/* subsubheading with a colored square before */
.body h3
	{
	margin-top	: 1.5em;
	border-width	: 0 0 0 1.0em;
	border-color	: blue;
	border-style	: solid;
	padding-left	: .5em;
	}

/* links underlined when mouse-over only */
a
	{
	font-weight	: bold;
	text-decoration	: none;
	}
a:hover
	{
	color		: red;
	}

/* table with no outer border, just cell borders */
table
	{
	border-width	: 0;
	}
td, th
	{
	padding-left	: 0.5em;
	padding-right	: 0.5em;
	}
th
	{
	background-color: silver;
	border-color	: black;
	}

/* images spaced from the text */
img
	{
	margin-left	: 0.5em;
	margin-right	: 0.5em;
	margin-bottom	: 0.3em;
	}
table img
	{
	margin		: 0;
	}

/* code in bold */
pre, code
	{
	font-weight	: bold;
	}
pre
	{
	margin-left	: 2em;
	}

/* special rule for legends in table with images */
.imgtable td
	{
	text-align	: center;
	font-style	: italic;
	}

/* special rules for articles with comments */
.sobreautor
	{
	margin		: 4em;
	padding		: 20px;
	font-size	: 90%;
	border		: 1px solid gray;
	background-color: #ddd;
	}
	
.opinioes
	{
	margin		:  2em;
	}
.opinioes dt
	{
	margin-top	:  1em;
	margin-bottom	:  1em;
	background-color: #ddd;
	padding		: 3px;
	border		: 1px solid silver;
	}
#googleadcenter
	{
	margin-top	: 3em;
	margin-bottom	: 2em;
	text-align	: center;
	}
