/*
	CLEAN CSS

	Muitos espacos em branco, fonte agradavel,
	titulo principal em grande evidencia,
	sem menu, sem search, rodape simplificado.
	
	Feito por Aurelio Jargas (www.aurelio.net),
	2007, uso liberado.
*/


/* --- MASTER ---------------------------------------------- */

body {
	margin		:0;
	padding		:0;
	color		:#555;
	font-family	:Optima, Omega, "Zapf Humanist", "Lucida Grande", Arial, sans-serif;
}
a {
	text-decoration	:none;
	color           :#07f;
}
a:visited {
	color		:#888;
}
a:hover,
a:visited:hover {
	background-color:#07f;
	color		:#fff;
}
h1, h2, h3, b, strong {
	color		:#000;
}

/* --- HEADER ---------------------------------------------- */

#header {
	margin		:4em 15% 5em 15%;
	text-align	:center;
	border-bottom	:1px solid #ccc;
}
#header h1 {
	margin-bottom	:0.4em;
	font-size	:350%;
	font-family	:"Trebuchet MS", "Lucida Grande", sans-serif;
	color		:#000;
}
#header h2 {
/*	font-size	:100%;*/
	color 		:#888;
	font-weight	:normal;
}
#header h3 {
	color 		:#888;
	font-weight	:normal;
}

/* --- MAIN ---------------------------------------------- */

#main {
	padding		:1em 25% 4em 25%;
	text-align	:justify;
	line-height	:160%;
}
#main h2,
#main h3 {
	line-height	:100%;
	text-align	:left;
	font-weight	:normal;
}
#main h2 {
	clear		:both;
	font-size	:350%;
	margin		:1.5em -1em 1em -1em;
	border-bottom	:8px solid #eee;
	padding-bottom	:0;
	letter-spacing	:-0.1em;
}
#main h3 {
	font-size	:250%;
	margin 		:1.5em 0 .6em 0;
	letter-spacing	:-2px;
}

#main ul {
	list-style-type	:disc;
}
#main blockquote {
	border 		:1px solid #ddd;
	border-width	:1px 1em;
	margin 		:3em 2em;
	padding 	:1em;
/*	font-size	:85%;*/
	line-height	:125%;
}
#main pre{
	margin-left	:2em;
	padding 	:1em;
	background 	:#eee;
	border 		:1px solid #ddd;
/*	overflow 	:auto;*/
	font-size	:85%;
}

/* --- CUSTOM  ----------------------------------------- */

#main .table-rows table {
	border-collapse	:collapse;
}
#main .table-rows td {
	border-bottom	:1px solid #ccc;
	padding		:0.3em 0.5em 0.3em 0;
}
#main .table-rows th {
	border-bottom	:1px solid #ccc;
	text-align	:left;
	font-weight	:normal;
	font-style	:italic;
}

/* --- ADS ---------------------------------------------- */

.googleadtwins {
	margin-bottom	:6em;
}
.googleadtwins300 {
	margin		:0 auto 6em auto;
}
.adlinkhorizclean {
/*	margin		:1.5em 0 0 0; /*use zero when seeme is OFF*/*/
	margin		:0;
	padding		:1em 0 0.4em 0;
	background-color:#eee;
	border-bottom	:1px solid #ccc;
}
.adlinkhorizcleanmiddle {
	margin		:0;
	padding		:2em 0;
}
.adlinksvertmore {
	margin 		:0;
	padding		:1em 0 2em 0;
/*	line-height	:145%;*/
}
.googleadfaixa {
	margin		:auto;
	text-align	:center;
}
.googleadlinkshoriz {
	margin		:2em auto;
	text-align	:center;	
}
/* --- LISTS ---------------------------------------------- */

#main ul,
#main ol {
	margin 		:0;
	padding 	:0;
}
#main li {
	margin 		:0 1.4em;
	padding 	:0.3em 0;
	line-height	:145%;
}
#main li ul {
	margin 		:0.3em 0 0 0;
	padding 	:0;
}
#main dt,
#main dd {
	margin-bottom	:1em;
}
#main dt {
	font-size	:115%;
	color 		:#000;
}

/* --- TOC ---------------------------------------------- */

.toc {
/*	font-size	:85%;*/
	background 	:#f4f4f4;
	padding 	:2em;
	margin 		:4em auto;
	border 		:1px solid #ccc; 
}
.toc li {
	padding 	:0.2em 0;
	line-height	:125%;
}

/* --- FOOTER ---------------------------------------------- */

#footer {
	text-align	:center;
	padding		:1em 0 3em 0;
	color		:#aaa;
	font-size	:85%;
	font-family	:"Trebuchet MS", "Lucida Grande", sans-serif;
}
#footer a {
	font-size	:150%;
	color 		:#07f;
}
#footer a:hover {
	color:white;
}

/*------------------------------------------- See Me! ---*/

#seeme {
	background:#FFFE6F url(../img/favhead.png) no-repeat left;
	position:fixed;
	top:0;
	right:0;
	left:0;
	margin:0;
	padding:3px 0 3px 16px;
	color:black;
	text-align:center;
	
	/* Emulating position:fixed in IE/Win 5+ */
	_position:absolute;
	_top:expression(eval(document.body.scrollTop));
	/* IE 5.5: Force full width */
	_width:100%;
}
#seeme a {
	font-weight:bold;
	color:blue;
}


