/*AURELIO.NET Site Theme, Oct 2006, Public Domain*/

#mybody{ /*Wrapper for full page. <body> gets full window if few contents*/
	border		:8px solid black;
}
body{
	margin		:0;
	padding		:0;
	color		:#444;
	font-family	: "Lucida Grande", Arial, sans-serif;
}
a{
	text-decoration	:none;
	color           :#07f;
}
a:visited:hover, a:hover{
	background-color:#07f;
	color		:#fff;
}
a:visited{
	color           :#888;
}
#header{
	padding:0 0 1em 1em;
}
#header form{
	float		:right;
	margin-left	:1em;
}
#header a#sitename{
	display		:block;
	margin		:0;
	padding		:.3em 0;
	color		:black;
	font-size	:330%;
	font-weight	:bold;
}
#header a#sitename:hover{
	background-color:transparent;
}
#contents{
	clear		:both;
	border-top	:8px solid black;
}
.sidebar{ /*Shared by left and right sidebars*/
	width		:130px;
	margin		:0 0 -8px 0;
	border-bottom	:8px solid black;
	font-size	:85%;
}
.sidebar a{
	display		:block;
	padding		:0 .5em;
	border-bottom	:1px solid #ccc;
	line-height	:150%;
}
.sidebar ul{
	margin		:0;
	padding		:0;
	list-style-type	:none;
}
#menumisc{
	float		:right;
	border-left	:8px solid black;
	margin-left	:20px;
}
#menulinks{
	float		:left;
	border-right	:8px solid black;
}
#main{
	font-family	:serif;
	padding-left	:160px;
	padding-right	:30px;
	margin-bottom	:3em;
	text-align	:justify;
	line-height	:145%;
}
#main a:visited{
	text-decoration	:underline;
}
#main h1{
	margin		:1.5em 0 1em 0;
	text-align	:center;
	line-height	:130%;
	font-size	:250%;
	color		:#222;
}
#main p.subtitle{
	margin		:-1em 1em 2em 1em;
	padding-top	:0;
	text-align	:center;
	color		:black;
}
#main h2{
	margin-top	:2em;
	border-bottom	:1px solid #444;
	color		:#222;
}
#main h3{
	margin-top	:1.5em;
	color		:#222;
}
#main dt, #main dd{
	margin-bottom	:1em;
}
#main pre{
        padding		:1em;
        border		:1px solid #444;
	overflow	:auto;
}
#main table{
	margin-top	:2em;
	margin-bottom	:2em;
}
#main td{
	padding		:.2em .5em;
}
#main li{
	margin-bottom	:.4em;
}
#main .toc li{
	margin-bottom	:0;
}
#main ul{
	padding-bottom	:1em;
}
#menutags{
	line-height	:150%;
}
#menutags a{
	margin-right	:.7em;
	text-decoration	:underline;
}
#menutags a.on,
#menutags a:hover,
#menutags a.off:hover{
	background	:#07f;
	color		:white;
}
#footer{
	clear		:both;
	margin		:0;
	padding		:1em;
	border-top	:8px solid black;
	text-align	:center;
	font-style	:italic;
}
.box{
	width		:50%;
	padding		:1em;
	margin		:1.5em 5em;
	border		:6px double white;
	background-color:#07f;
	color		:white;
	text-align	:left;
	font-size	:90%;
	font-family	:sans-serif;
	-moz-border-radius:28px;
}
/*Hide tagmenu extras*/
#menuextra{display:none}
#menutags .menutagcount{display:none}

.googleadfaixa{
	text-align	: center;
	margin		: 2em auto;
}
.googleadcaixa,.googleadsidebar{
	float		: right;
	margin		: 0 0 0 2em;
}
.googleadlinksheader{
	padding-top	: .5em;
}

/*AURELIO.NET Genius (Simon) theme*/
#header{background-color:#0c0}
#header a#sitename{background:url(../img/aureliohead-green.jpg) no-repeat center}
#menutags a.on, #menutags a:hover, #menutags a.off:hover, #footer a:hover{
	background:transparent;color:white}
.sidebar a:hover{color:white}
#menumisc{background-color:#f22;color:black}
#menumisc p{text-align:center;text-transform:uppercase}
#menumisc a{border-bottom-color:#c00}
#menumisc a:visited{color:#900}
#menulinks{background-color:yellow}
#menulinks a{border-bottom-color:#ee0}
#menulinks a:visited{color:#990}
#menumisc a:visited:hover, #menulinks a:visited:hover{color:white}
#header a, .sidebar a, #footer a{color:black}
#main th{background-color:#def}
#main pre{background-color:#def;border-color:#888}
#footer{background-color:#09f;color:#039}
