#formulario
	{
	float		: left;
	width		: 45%;
	}
#formulario td
	{
	white-space	: nowrap;
	padding-left	: 0px;
	}
#total
	{
	clear		: both;
	padding-top	: 1em;
	text-align	: center;
	font-weight	: bold;
	font-size	: 130%;
	}
#recados
	{
	margin		: 3em;
	font-size	: 110%;
	}
#recados dt
	{
	font-style	: normal;
	color		: #555;
	margin-top	: 1em;
	margin-bottom	: 1em;
	padding-top	: 1em;
	border-top	: 1px solid #ddd;
	}
#recados dt b
	{
	font-style	: normal;
	font-size	: 130%;
	color		: #000;
	padding-left	: .2em;
	padding-right	: .2em;
	}
#recados dd
	{
	color		: #555;
	margin		: 0;
	padding		: 0;
	}
#recados dd.dono
	{
	background-color: #ada;
	color		: #222;
	line-height	: 150%;
	}
