p.error
	{
	background	: yellow;
	color		: red;
	font-weight	: bold;
	}
form p
	{
	margin		: 0;
	}
label
	{
	clear		: left;
	float		: left;
	width		: 6em;
	text-align	: right;
	padding		: 0 .5em;
	font-size	: 85%;
	}
p.total
	{
	clear		: both;
	padding-top	: 1em;
	text-align	: center;
	font-weight	: bold;
	font-size	: 130%;
	}
dl#scraps
	{
	margin		: 3em;
	}
dl#scraps dt
	{
	margin		: 2em 0 0 0;
	padding		: 1.5em 0;
	border-top	: 1px solid #ddd;
	color		: #999;
	}
dl#scraps dt b
	{
	padding		: 0 .2em;
	font-size	: 130%;
	font-style	: normal;
	color		: black;
	}
dl#scraps dd
	{
	margin		: 0;
	padding		: 0;
	}
