/* The nice testimonials box */
#main .testimonials dl {
	float:left;
	margin:0;
	padding:0 0.5em;
	color:#222;
}
#main .testimonials dt {
	margin:0;
	padding:0;
	font-size:120%;
	text-align:left;
}
#main .testimonials dd {
	color:#999;
	text-align:right;
	margin:0.3em 0 1em 0;
	padding:0 0 0 6em;
}
#main table.testimonials {
	clear:both;
	padding:3em 0;
	font-size:smaller;
}
#main table.testimonials td {
	border:1px solid #eee;
	padding:1em;
	background-color:#fcfcfc;
}
#main table.testimonials td h3 {
	color:#000;
}
