/*
	TWO LANGUAGES CSS
	
	Two columns, one in english, other portuguese.
	Inherits main styles from clean.css.
	Nice for short texts.
	
	Aurelio (www.aurelio.net), 2007, BSD License
*/

#main {
	padding-right	:15%; /* wider content area */
	padding-left	:15%;
}
#main table.en-pt {
	width 		:100%;
	border-collapse	:collapse;
}
#main table.en-pt td {
	width 		:50%; /* equal width for both */
	vertical-align	:top;
	padding 	:2.5em 0;
	border-bottom	:1px solid #ccc;
	text-align	:justify;
	font-size	:85%;
	line-height	:140%;
	color:#ccc;
}
#main table.en-pt td:hover {
	color:#000;
}
#main table.en-pt td:hover h3 {
	color 		:#909;
}
#main table.en-pt td.left {
	padding-right	:3em;
}
#main table.en-pt td.right {
	padding-left	:3em;
	border-left	:1px solid #ccc;
}
#main table.en-pt td h3 {
	color 		:#909;
	color 		:#fcf;
	font-size	:1.5em;
	font-style	:normal;
	letter-spacing	:normal;
	margin 		:0;
}
#main table.en-pt td a:visited {
	color 		:#07f;
}
#main table.en-pt td a:visited:hover {
	color 		:#fff;
}

/*--------------- Links menu ---*/

#main table.en-pt td ul {
	text-align	:center;
	margin-top	:2em;
	padding 	:1em 0;
}
#main table.en-pt td ul li {
	list-style-type	:none;
	margin 		:2px;
	background 	:#fdf;
	padding 	:0;	
}
#main table.en-pt td ul li a {
	display 	:block;
	padding 	:1em 0;
}