<!DOCTYPE html>
<html>
<head>
{% include head-base.html %}

	<link rel="stylesheet" href="/assets/common.css">
	<link rel="stylesheet" href="/assets/2013/site.css">
{% if layout.sub_layout == "2013-page-ads" %}
	<link rel="stylesheet" href="/assets/2013/ads.css">
{% else %}
	<link rel="stylesheet" href="/assets/2013/topbar.css">
	<link rel="stylesheet" href="/assets/monokai.css">
{% endif %}
{% include head-open-graph.html %}
{% include analytics.html %}
</head>
<body>

<div id="main">

{{ content }}

</div><!--main-->

{% if layout.sub_layout == "2013-page-ads" %}
<div id="sidebar">
{% include ad-300x600.html %}
{% include ad-300x600.html %}
{% include ad-300x600.html %}
</div><!--sidebar-->
{% endif %}

{% include footer.html %}
{% include aureliohead.html %}

</body>
</html>
