<!DOCTYPE html>
<html lang="pt-BR">
<head>
{% include head-base.html %}

<link rel="stylesheet" type="text/css" media="all" href="/assets/twentyten-child/twentyten.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/common.css" />
<link rel="stylesheet" type="text/css" media="all" href="/assets/twentyten-child/site.css" />

<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Feed RSS" href="http://aurelio.net/feed/" />
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - Feed RSS de comentários" href="http://aurelio.net/comments/feed/" />

<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
{% unless page.hide_prev_next %}
{% if page.previous.url %}<link rel="prev" title="{{ page.previous.title | escape }}" href="{{ site.url }}{{ page.previous.url }}" />{% endif %}
{% if page.next.url %}<link rel="next" title="{{ page.next.title | escape }}" href="{{ site.url }}{{ page.next.url }}" />{% endif %}
{% endunless%}
{% unless site.production %}
	<style>
	.ad-blog-box-top    { width: 300px; height: 250px; }
	.ad-blog-box-bottom { width: 336px; height: 280px; }
	</style>
{% endunless%}

{% include head-open-graph.html %}
{% include analytics.html %}
</head>

<body class="single single-post single-format-standard custom-background">
<div id="wrapper" class="hfeed">
	<div id="header">
		<div id="masthead">

			<div id="social-icons">
			<a href="http://aurelio.net/feed/" title="Feed RSS - Acompanhe as novidades do site"><img src="http://aurelio.net/img/icon/64/feed.png"></a>
			<!-- <a href="http://facebook.com/aurelio.jargas" title="Fale comigo no Facebook"><img src="http://aurelio.net/img/icon/64/facebook.png"></a> -->
			<a href="https://github.com/aureliojargas" title="Veja meus códigos no GitHub"><img src="http://aurelio.net/img/icon/64/github.png"></a>
			<a href="http://twitter.com/oreio" title="Fale comigo no twitter"><img src="http://aurelio.net/img/icon/64/twitter.png"></a>
			<img title="Meu login no GameCenter é oreio77, vamos competir!" src="http://aurelio.net/img/icon/64/gamecenter.jpg" style="cursor:help;">
			</div>

			<div id="branding" role="banner">
				<div id="site-title">
					<span>
						<a href="{{ site.url }}/" rel="home">{{ site.name }}</a>
					</span>
				</div>
				<div id="site-description">{{ site.description | escape }}</div>
			</div><!-- #branding -->

			<div id="access" role="navigation">

				<div class="skip-link screen-reader-text">
					<a href="#content" title="Pular para o conteúdo">Pular para o conteúdo</a>
				</div>

				<div id="aa-search">
					<form action="http://www.google.com/cse" id="cse-search-box">
					<div>
						<input type="hidden" name="cx" value="partner-pub-0009608813278754:oh9f6375wyq" />
						<input type="hidden" name="ie" value="UTF-8" />
						<input type="text" name="q" size="26" />
						<input type="submit" name="sa" value="Pesquisar" />
					</div>
					</form>
					<script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&amp;lang=pt"></script>
				</div><!-- #aa-search -->


				<div class="menu-header">
					<ul id="menu-principal" class="menu">
<li class="menu-item"><a href="http://aurelio.net/blog/">Blog</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://aurelio.net/blog/sumario/">★ Sumário</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/barbada/">Barbada</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/livro/">Livro</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/meu-querido-diario/">Meu querido diário</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/sitelog/">Mudanças no site</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/musica/">Música</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/nerd/">Nerd</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/software/">Software</a></li>
	<li class="menu-item"><a href="http://aurelio.net/blog/category/screencast/">Vídeo-aula (screencast)</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://aurelio.net/livro/">Livros</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://www.piazinho.com.br">Expressões Regulares</a></li>
	<li class="menu-item"><a href="http://www.shellscript.com.br">Shell Script Profissional</a></li>
	<li class="menu-item"><a href="http://aurelio.net/proximo-livro/">E o próximo livro?</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://aurelio.net/bin/">Software</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://aurelio.net/soft/">AppleScripts</a></li>
	<li class="menu-item"><a href="http://aurelio.net/soft/adiumbook/">AdiumBook</a></li>
	<li class="menu-item"><a href="http://www.coisinha.com.br">Coisinha →</a>
	<ul class="sub-menu">
		<li class="menu-item"><a href="http://www.coisinha.com.br/caraoucoroa/">Cara ou Coroa?</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/embriagueitor/">Embriagueitor</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/engripeitor/">Engripeitor</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/miguxeitor/">MiGuXeiToR</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/relogio/">Relógio (só com palavras)</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/subwaytor/">Subwaytor</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/tabuada/">Tabuada (interativa)</a></li>
		<li class="menu-item"><a href="http://www.coisinha.com.br/viravira/">vira|ɐɹıʌ</a></li>
	</ul>
</li>
	<li class="menu-item"><a href="http://aurelio.net/css-sandbox/">CSS Sandbox</a></li>
	<li class="menu-item"><a href="http://aurelio.net/soft/emomemory/">EmoMemory</a></li>
	<li class="menu-item"><a href="http://funcoeszz.net">Funções ZZ</a></li>
	<li class="menu-item"><a href="http://aurelio.net/moneylog/">MoneyLog Experience</a></li>
	<li class="menu-item"><a href="http://aurelio.net/rac/">RAC</a></li>
	<li class="menu-item"><a href="http://aurelio.net/soft/sedarkanoid/">SedArkanoid</a></li>
	<li class="menu-item"><a href="http://aurelio.net/soft/sedsokoban/">SedSokoban</a></li>
	<li class="menu-item"><a href="http://aurelio.net/sedsed/">sedsed</a></li>
	<li class="menu-item"><a href="http://aurelio.net/txt2regex/">txt2regex</a></li>
	<li class="menu-item"><a href="http://txt2tags.org/pt/">txt2tags</a></li>
	<li class="menu-item"><a href="http://umportugues.com">Um Português</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://aurelio.net/doc/nerd.html">Nerd</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://aurelio.net/log/">changelog</a></li>
	<li class="menu-item"><a href="http://codare.net">codare</a></li>
	<li class="menu-item"><a href="http://aurelio.net/cygwin/">cygwin</a></li>
	<li class="menu-item"><a href="http://aurelio.net/curso/">eventos</a></li>
	<li class="menu-item"><a href="http://aurelio.net/doc/coluna/">linux</a></li>
	<li class="menu-item"><a href="http://aurelio.net/mac/">mac</a></li>
	<li class="menu-item"><a href="http://aurelio.net/regex/">regex</a></li>
	<li class="menu-item"><a href="http://aurelio.net/sed/">sed</a></li>
	<li class="menu-item"><a href="http://aurelio.net/shell/">shell script</a></li>
	<li class="menu-item"><a href="http://aurelio.net/vim/">vim</a></li>
	<li class="menu-item"><a href="http://aurelio.net/wordpress/">wordpress</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://aurelio.net">Outros</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://aurelio.net/baterna/">Baterna – Curso de bateria online</a></li>
	<li class="menu-item"><a href="http://aurelio.net/carve/">Carveboard</a></li>
	<li class="menu-item"><a href="http://aurelio.net/doc/dort.html">DORT / LER – Computador e saúde</a></li>
	<li class="menu-item"><a href="http://aurelio.net/musica/">Música</a></li>
	<li class="menu-item"><a href="http://aurelio.net/recados.php">Recados bizarros – Inacreditável</a></li>
	<li class="menu-item"><a href="http://aurelio.net/pogo/">Roda de Pogo – A Dança Punk</a></li>
	<li class="menu-item"><a href="http://aurelio.net/surf/">Surf – Fotos aquáticas</a></li>
	<li class="menu-item"><a href="http://aurelio.net/texto-do-leitor/">Texto do Leitor</a></li>
	<li class="menu-item"><a href="http://aurelio.net/viagem/">Viagens</a></li>
</ul>
</li>
<li class="menu-item"><a href="http://aurelio.net/sobre/">Sobre</a>
<ul class="sub-menu">
	<li class="menu-item"><a href="http://aurelio.net/aurelio/">Sobre o Aurelio</a></li>
	<li class="menu-item"><a href="http://aurelio.net/sobre/">Sobre o site</a></li>
	<li class="menu-item"><a href="http://aurelio.net/contato/">Contato</a></li>
</ul>
</li>
</ul>
				</div><!-- menu-header -->
			</div><!-- #access -->
		</div><!-- #masthead -->
	</div><!-- #header -->

	<div id="main">

		<div id="container">
			<div id="content" role="main">
{% unless page.hide_prev_next %}
				<div id="nav-above" class="navigation">
{% if page.previous.url %}					<div class="nav-previous"><a href="{{ site.url }}{{ page.previous.url }}" rel="prev"><span class="meta-nav">←</span> {{ page.previous.title | escape }}</a></div>{% endif %}
{% if page.next.url %}					<div class="nav-next"><a href="{{ site.url }}{{ page.next.url }}" rel="next">{{ page.next.title | escape }} <span class="meta-nav">→</span></a></div>{% endif %}
				</div><!-- #nav-above -->
{% endunless %}
				<div class="post type-post status-publish format-standard hentry">
{% unless page.hide_title %}
					<h1 class="entry-title">{{ page.title | escape }}</h1>
{% endunless %}
{% include page-byline.html %}

{% include ad-300x250-blog1.html %}

					<div class="entry-content">
{{ content }}
					</div><!-- .entry-content -->
{% unless page.hide_tags %}
					<div class="article-tags">
						Tags: {% include page-tags.html %}
					</div>
{% endunless %}
{% include article-footer.html %}

{% include ad-336x280-blog2.html %}

				</div><!-- #post-## -->

{% include disqus.html %}

			</div><!-- #content -->
		</div><!-- #container -->


		<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">

				<li id="text-2" class="widget-container widget_text">
					<div class="textwidget">
						<p class="download">Oi! Sou o
							<strong>Aur<a href="http://aurelio.net/blog/2011/05/26/aos-33-descobri-que-meu-nome-nao-tem-acento/">e</a>lio Jargas</strong>,
							36,
							<a href="http://aurelio.net/doc/nerd.html">nerd</a>,
							<a href="http://aurelio.net/blog/2009/09/24/escritor/">escritor</a> e
							<a href="http://aurelio.net/blog/2010/09/23/estou-ha-5-anos-desempregado-viva/">desempregado</a>.
							Moro em Joinville com minha amada esposa <a href="http://www.moguinha.com.br">Mog</a>.
						</p>
					</div>

				</li>
				<li id="text-3" class="widget-container widget_text">
					<h3 class="widget-title">Meus livros</h3>
					<div class="textwidget">
						<a title="Expressões Regulares" style="margin-left:1em;" href="http://www.piazinho.com.br"><img
							src="http://aurelio.net/img/capa-regex4-100.jpg" alt="Livro Expressões Regulares" border="0"></a>

						<a title="Shell Script Profissional" style="margin-left:1em;" href="http://www.shellscript.com.br"><img
							src="http://aurelio.net/img/capa-livroshell-100.jpg" alt="Livro Shell Script Profissional" border="0"></a>
					</div>

				</li>
				<li id="text-4" class="widget-container widget_text">
					<h3 class="widget-title">Jabá</h3>
					<div class="textwidget">
						<ul>
<li><a href="http://db.tt/BOoG2How">Dropbox:</a> +500MB na instalação</li>
<li><a href="http://www.submarino.com.br/?franq=AFL-03-1744">Submarino:</a> ganho de 3% a 8%</li>
<li><a href="http://www.submarinoviagens.com.br/?franq=AFL-03-1744">Submarino Viagens:</a> ganho 4%</li>
<li><a href="http://www.americanas.com.br/?franq=AFL-03-1744">Americanas.com:</a> ganho 3% a 8%</li>
<li><a href="http://dx.com/?Utm_rid=56199011&Utm_source=affiliate">DealExtreme:</a> ganho 2%</li>
<li><a href="http://www.dreamhost.com/r.cgi?251258">DreamHost:</a> -$30 com OREIO30</li>
<li><a href="http://www.elegantthemes.com/affiliates/idevaffiliate.php?id=5032">ElegantThemes:</a> ganho 50%</li>
<li><a href="http://www.CoisasDeOncinha.com.br">Lojinha da Mog:</a> Só oncinha!</li>
<li><a href="http://wikimediafoundation.org/wiki/Support_Wikipedia/pt-br">Doe $$ pra Wikipédia!</a></li>
						</ul>
					</div>
				</li>
				<li id="text-5" class="widget-container widget_text">
					<h3 class="widget-title">Atalhos rápidos</h3>
					<div class="textwidget">
<a href="http://aurelio.net/viagem/atacama/">atacama</a>
<a href="http://aurelio.net/baterna/">baterna</a>
<a href="http://aurelio.net/bin/">bin</a>
<a href="http://aurelio.net/blog/">blog</a>
<a href="http://aurelio.net/shell/canivete/">canivete</a>
<a href="http://aurelio.net/carve/">carve</a>
<a href="http://codare.net">codare</a>
<a href="http://www.coisinha.com.br">coisinha</a>
<a href="http://aurelio.net/cygwin/">cygwin</a>
<a href="http://aurelio.net/shell/dialog/">dialog</a>
<a href="http://aurelio.net/doc/">doc</a>
<a href="http://aurelio.net/fvm/">fvm</a>
<a href="http://aurelio.net/livro/">livro</a>
<a href="http://aurelio.net/mac/">mac</a>
<a href="http://aurelio.net/shell/miniman/">miniman</a>
<a href="http://aurelio.net/moneylog/">moneylog</a>
<a href="http://aurelio.net/musica/">musica</a>
<a href="http://aurelio.net/pogo">pogo</a>
<a href="http://aurelio.net/pyobjc">pyobjc</a>
<a href="http://aurelio.net/regex/">regex</a>
<a href="http://aurelio.net/sed/">sed</a>
<a href="http://aurelio.net/sedsed/">sedsed</a>
<a href="http://aurelio.net/shell/">shell</a>
<a href="http://aurelio.net/soft/sedsokoban/">sokoban</a>
<a href="http://aurelio.net/surf/">surf</a>
<a href="http://txt2tags.org/pt/">txt2tags</a>
<a href="http://umportugues.com">umportugues</a>
<a href="http://aurelio.net/viagem/">viagem</a>
<a href="http://aurelio.net/vim/">vim</a>
<a href="http://funcoeszz.net">zz</a>
					</div>
				</li>
				<li id="text-6" class="widget-container widget_text">
					<h3 class="widget-title">Top 15</h3>
					<div class="textwidget">
						<ul>
<li><a href="http://aurelio.net/blog/2007/05/27/choque-de-realidade/">Choque de realidade</a></li>
<li><a href="http://aurelio.net/blog/2007/10/04/ida-ao-banco-em-matinhos/">Ida ao banco em Matinhos</a></li>
<li><a href="http://aurelio.net/blog/2008/06/27/bingo/">BINGO!</a></li>
<li><a href="http://aurelio.net/blog/2007/03/29/vamos-falar-de-grana/">Vamos falar de grana $$$</a></li>
<li><a href="http://aurelio.net/blog/2007/10/07/fiz-trinta/">Fiz trinta</a></li>
<li><a href="http://aurelio.net/blog/2008/04/22/a-mog-foi-no-fisl/">A Mog foi no FISL</a></li>
<li><a href="http://aurelio.net/blog/2008/09/03/faire/">Fáire! Meu Fiat Uno pegou fogo</a></li>
<li><a href="http://aurelio.net/blog/2005/11/30/processo-de-desnerdizacao/">Processo de desnerdização</a></li>
<li><a href="http://aurelio.net/blog/2006/05/15/e-book-ou-livro-impresso-como-publicar-sua-obra/">E-book ou livro impresso?</a></li>
<li><a href="http://aurelio.net/blog/2009/03/11/garoto-de-programa/">Garoto de programa</a></li>
<li><a href="http://aurelio.net/blog/2009/09/24/escritor/">Escritor</a></li>
<li><a href="http://aurelio.net/blog/2009/12/11/game-over-quase/">Game Over? Quase!</a></li>
<li><a href="http://aurelio.net/blog/2010/09/23/estou-ha-5-anos-desempregado-viva/">Estou há 5 anos desempregado! Viva!</a></li>
<li><a href="http://aurelio.net/blog/2011/04/19/o-jeito-shell-script-de-resolver-problemas/">O jeito Shell Script de resolver problemas</a></li>
<li><a href="http://aurelio.net/blog/2011/05/26/aos-33-descobri-que-meu-nome-nao-tem-acento/">Aos 33, descobri que meu nome não tem acento!</a></li>
<li><a href="http://aurelio.net/blog/2012/08/25/rotina-de-escritor/">Rotina de escritor</a></li>
						</ul>
					</div>
				</li>
				<li id="recent-posts-3" class="widget-container widget_recent_entries">
					<h3 class="widget-title">Textos Recentes</h3>
					<ul>
{% for post in site.posts limit:10 %}
						<li><a href="{{ site.url}}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
						<li><a href="http://aurelio.net/blog/sumario/">→ Veja mais…</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- #primary .widget-area -->

	</div><!-- #main -->

{% include footer.html %}

</div><!-- #wrapper -->
</body>
</html>
