/* Clean 2012 - article */

body {
	padding: 4em 10%;
	margin: 0 auto;
	max-width: 33em;
}
.toc {
/*	line-height: 175%;*/
	line-height: 150%;
	border: 1px solid black;
	border-width: 1px 0;
	margin-top: 32px;
	padding-top: 16px;
	margin-bottom: 16px;
}
.toc ul {
	list-style-type: none;
}
.toc > ul {
	margin-left: 0;
}
.toc a {
	text-decoration: none;
}
.toc a:hover {
	text-decoration: underline;
}


h1, h2, h3 {
/*	margin: 0.5em 0;*/
}
#header {
	margin-bottom: 32px;  /* 2em */
}
#header h1 {
	margin: 0;
}
#header h2 {
	margin-top: 16px;
	font-size: 1.5em;
	font-weight: normal;
}
#header h3 {
	margin-top: 16px;
	font-size: 1em;
	font-weight: normal;
	font-style: italic;
	color: #888;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.7em;
	margin-top: 1.5em;
}
h3 {
	font-weight: bold;
}

blockquote {
	font-style: italic;
}
td, th {
	border-bottom: 1px solid #ccc;
	padding: 0 4px;
}
th {
	font-style: italic;
	background-color: #eee;
}
table {
	font-size: 15px;
}

/* ------------------------- my head */

.cabecao {
	position:fixed;
	right:0;
	bottom:0;
}
.cabecao img {
	padding:2px;
	width: 38px;
	height: 45px;
	/* orig: 57x68 */
}



/* UI colors in main headers and i */
body.portable #header h1,
body.portable h2,
body.portable i {
	color: #4D8A68;
}
body.browser #header h1,
body.browser h2,
body.browser i {
	color: #E89E00;
}
body.cloud #header h1,
body.cloud h2,
body.cloud i {
	color: #2B97E9;
}
body.beta #header h1,
body.beta h2,
body.beta i {
	color: black;
}
body.portable #header h1,
body.browser  #header h1,
body.cloud    #header h1,
body.beta     #header h1 {
	font-weight: bold;
}


/* about */
.heart-list ul {
	list-style-image: url(heart.png);
}



/* ------------------------- iPhone = 320x480 */

@media screen and (max-width: 480px) {
	body {
		padding: 10px;
		margin: 0;
	}
	.toc, #footer {
		line-height: 200%;
	}
	.cabecao {
		display: none;
	}
}
