/* Clean 2012 - faq */

/* ------------------------- grid */

#header {
	display: none;
}
.toc,
#main {
	height: 100%;
	overflow: auto;
}

#main {
	float: none;
	padding: 0 8%;
}

.toc {
	float: left;
	max-width: 30%;
}


/* ------------------------- toc */

.toc {
	padding-right: 10px;
	background: #eee;
	font-size: 12px;
	line-height: 150%;
}
.toc a {
	text-decoration: none;
}
.toc ul {
	list-style: none;
}
.toc > ul > li > a {  /* first item (H1) */
	color: black;
	font-weight: bold;
	font-size: 14px;
}
.toc > ul > li > ul {  /* H2 */
	margin-top: 5px;
	margin-left: 0;
}
.toc > ul > li > ul > li > a {  /* H2 */
	color: black;
}


/* ------------------------- headers */

#main h1 {
	text-align: center;
	font-size: 2em;
	margin: 1em 0;
}
#main h2 {
	text-align: right;
	background-color: #444;
	color: white;
	line-height: 150%;
	margin-top: 2em;
}
#main h3 {
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	color: black;
	font-size: 125%;
	line-height: 150%;
}
#main h3 a:hover {
	text-decoration: none;
}


/* ------------------------- misc */

pre {
	background-color: #eee;
}
th {
	border-bottom: 1px solid #ccc;
	font-style: italic;
	text-align: left;
}
th, td {
	padding: 0 5px;
}
table {
	font-size: 15px;
}
blockquote {
	font-style: italic;
}


/* ------------------------- iPhone = 320x480 */

@media screen and (max-width: 480px) {
	.toc,
	#main {
		height: auto;
		float: none;
		padding: 0;
	}
	.toc {
		max-width: 9999px;
	}
	.toc, #footer {
		line-height: 200%;
	}
}
