# mudou-se
Redirect permanent /web/engripeitor.html http://www.coisinha.com.br/engripeitor/
Redirect permanent /web/miguxeitor.html http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/moneylog.html /moneylog/moneylog1.html
Redirect permanent /web/moneylog2.html /moneylog/moneylog2.html

### Links errados em outros sites
Redirect permanent /web/miguxeitor.html%23 http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/miguxeitor.html%7C http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/miguxeitor.html. http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/miguxeitor.php http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/migŭeitor.html http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/miguxeitor.htm http://www.coisinha.com.br/miguxeitor/
Redirect permanent /web/miguxeitor.html| http://www.coisinha.com.br/miguxeitor/
